* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0px;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  margin: auto;
}

a {
  text-decoration-color: transparent;
}

h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

h1 {
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  margin-bottom: 30px;
}

#logo {
  width: 160px;
}

.container {
  max-width: 70%;
  margin: auto;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
}

#nav-links {
  display: flex;
  column-gap: 20px;
  font-size: 16px;
}

#nav-links a {
  color: inherit;
}

#nav-links span:hover {
  color: #007a5c;
  cursor: pointer;
}

.call {
  margin-right: 30px;
  color: #007a5c;
  cursor: pointer;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-icons a {
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

#hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#hero-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: absolute;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  row-gap: 20px;
  top: 0;
  left: 0;
  z-index: 200;
}

button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #007a5c;
  color: white;
  border: 1px;
  padding: 15px 25px;
  box-sizing: border-box;
  font-size: 16px;
}

.menu-button:hover {
  background-color: #007a5c;
  color: white;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------About section------------- */
#about {
  background-color: #fcf2eb;
  padding: 50px;
}

#about a {
  padding: 5px;
  border-bottom: 2px solid #007a5c;
}

#about .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-image {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
}
.about-img {
  width: 460px;
  overflow: hidden;
  height: 460px;
  border-radius: 8px;
}
.about-image img {
  width: 460px;
  height: 460px;
  border-radius: 8px;
  transition: transform 0.5s ease;
}
.about-image img:hover {
  transform: scale(1.2);
}

.about-text {
  width: 50%;
}
.about-text h2 {
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #32404d;
}
.about-text p {
  color: #32404d;
  font-size: 18px;
  line-height: 2rem;
}

/* -----------programs offered section------------- */
*/ .programs-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.programs-section {
  padding: 60px 0;
  text-align: center;
}

.section-header h2 {
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #32404d;
}

.section-header p {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 40px;
}

.programs-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.program-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1000px;
  text-align: left;
}

.program-image {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px;
}

.program-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.5s ease;
}
.program-item img:hover {
  transform: scale(1.2);
}
.program-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.program-item p {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 15px;
}

.program-item .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.program-item .btn:hover {
  background-color: #0056b3;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}

/* -----------essential resource section------------- */
.essential-resources {
  position: relative;
  background-color: #f2fbf9;
  margin-bottom: 60px;
}

.essential-resources .container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.essential-text {
  width: 60%;
  padding: 10px;
}

.essential-text h2,
#blog h2,
#clientele h2,
#showcase h2 {
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #32404d;
  margin-top: 30px;
}

.essential-text p {
  font-size: 16px;
  color: #32404d;
  margin-bottom: 40px;
  line-height: 1.2;
}

.essential-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.essential-cards .card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d4e6e2;
  padding: 15px;
  border-radius: 10px;
}
.essential-cards .card {
  width: 60%;
}

.card-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-content p {
  font-size: 16px;
  color: #6c757d;
}

.card-arrow {
  flex-shrink: 0;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-arrow:hover {
  background-color: #add8e6;
  cursor: pointer;
}

.essential-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  display: flex;
  justify-content: center;
}

.essential-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.essential-image img {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 75vh;
  transition: transform 0.5s ease;
}

.essential-image img:hover {
  transform: scale(1.2);
}

/* -----------essential resource section------------- */
.flex-container {
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #f2fbf9;
  column-gap: 50%;
}

.flex-container img {
  width: 400px;
  height: 250px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.flex-container img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.flex-container-image {
  display: flex;
  max-width: 70%;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 30px;
  overflow: hidden;
}

.flex-container a img {
  /* Styles to reduce the size of the arrow image */
  width: 18px;
  height: auto;
  margin: auto 20px 0;
}

.flex-container a {
  display: flex;
}
.flex-container p {
  line-height: 1.5rem;
  margin: 30px;
}
.flex-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #f2fbf9;
  border-radius: 10px;
}

/* -----------------BLOG------------------ */
#blog h2 {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
#blog .cards {
  max-width: 90%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
#blog p {
  text-align: center;
}

#blog .blog-card {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#blog img {
  width: 100%;
  transition: transform 0.5s ease;
  border-radius: 10px;
}
#blog .blog-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

#blog img:hover {
  transform: scale(1.2);
}

/* --------------CLIENTELE SECTION---------------- */
#clientele .clientele-container {
  max-width: 60%;
  margin: auto;
  text-align: center;
}

/* ---------------SHOWCASE------------------------------ */
#showcase {
  display: flex;
  background-color: #fef6f0;
  margin-bottom: 80px;
}
.showcase-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase-img {
  width: 70%;
  overflow: hidden;
  border-radius: 5px;
}
.showcase-image img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  border-radius: 5px;
}
#showcase img:hover {
  transform: scale(1.2);
}
.showcase-text {
  background-color: #007a5c;
  width: 50%;
  padding: 40px;
  padding-bottom: 60px;
}
.showcase-text h2 {
  color: #fff !important;
}
.showcase-text p {
  color: #c3d6cb;
  font-size: 18px;
}
.showcase-text a {
  color: #fff !important;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
.clientele-slideshow {
  width: 80%;
  margin: auto;
}
.clientele-slideshow div {
  text-align: center;
  background: #fff;
  margin: 50px;
}

/*------------------footer section------------------- */
.footer {
  background-color: #32404d;
  color: #fff;
  padding: 30px;
  padding-top: 60px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer-widget {
  width: 25%;
  margin-bottom: 30px;
  padding-right: 20px;
}
.footer .footer-widget h4 {
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
  color: #fff;
}
.footer .footer-widget h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background-color: #fdb913;
}
.footer .footer-widget p {
  margin-bottom: 20px;
  color: #a7aeb4;
  font-size: 16px;
}
.footer .footer-widget ul {
  list-style: none;
  padding: 0;
}
.footer .footer-widget ul li {
  margin-bottom: 10px;
}
.footer .footer-widget ul li a {
  color: #bbb;
  text-decoration: none;
}
.footer .footer-widget ul li a:hover {
  color: #fdb913;
}
.footer .footer-social {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.footer .footer-social a {
  color: #bbb;
  font-size: 20px;
  margin-right: 20px;
}
.footer .footer-social a:hover {
  color: #fdb913;
}
.footer .footer-bottom {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #444;
  margin-top: 30px;
}
.footer .footer-bottom p {
  margin: 0;
  color: #a7aeb4;
  font-size: 16px;
}
